<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
  <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main class="mt-3">
  <div class="jumbotron bg-light">
    <h1 class="display-1 font-italic">Groups</h1>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <hr>
    <th:block sec:authorize="hasAnyRole('ROLE_EDITOR','ROLE_ROOT')">
      <div class="container bootstrap snippet">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-box no-header clearfix">
              <div class="main-box-body clearfix">
                <div class="table-responsive">
                  <table class="table user-list">
                    <thead>
                    <tr>
                      <th><span>Group Name</span></th>
                      <th><span>Created</span></th>
                      <th class="text-center"><span>Status</span></th>
                      <th><span>Email</span></th>
                      <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="group, iter : ${groups}">
                      <tr>
                        <td>
                          <!--                                                    <img th:src="${user.imageUrl}" alt="profile-image" width="75" height="75">-->
                          <a href="#" class="user-link" th:text="${group.name}"></a>
                          <span class="user-subhead" th:text="${group.highestAuthority}"></span>
                        </td>
<!--                        <td th:text="${group.created}"></td>-->
                        <td class="text-center">
                          <span class="label label-default"><a th:href="@{/groups/status/{id}(id=${user.id})}" th:text="${group.status}"/></span>
                        </td>
                        <td>
                          <a href="#" th:text="${group.email}"></a>
                        </td>
                        <td style="width: 20%;">
                          <a th:href="@{/groups/view/{id}(id=${group.id})}" class="table-link">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                            </span>
                          </a>
                          <a th:href="@{/user/edit/{id}(id=${group.id})}" class="table-link">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                          </a>
                          <a th:href="@{/user/delete/{id}(id=${group.id})}" class="table-link danger">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </span>
                          </a>
                        </td>
                      </tr>
                    </th:block>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </th:block>
  </div>
</main>
<footer>
  <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>

</html>