<th:block xmlns:th="http://www.w3.org/1999/xhtml">
  <th:block sec:authorize="isAnonymous()">
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-light rounded font-weight-bold">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
      <div class="collapse navbar-collapse d-flex justify-content-end" id="guestNav">

            <a class="list-group-item list-group-item-action py-2 ripple" th:href="@{/user/login}">Users</a>


            <a class="list-group-item list-group-item-action py-2 ripple" th:href="@{/user/register}">Register</a>

      </div>
    </div>
  </div>
    </nav>
  </th:block>

</th:block>

